{% extends "base.html" %}
{% load static %}

{% block main_content %}

    {% if recipes %}
        <section id="catalogue">
            {% for recipe in recipes %}
                <div class="recipe-card">
                    <div class="image-wrap">
                        <!-- recipe image -->
                        {% if recipe.image_url %}
                            <img class="recipe-img" src="{{ recipe.image_url }}" alt="{{ recipe.title }}">
                        {% else %}
                            <img class="recipe-img" src="{% static 'images/default_recipe_img.png' %}" alt="Default Recipe Image">
                        {% endif %}
                    </div>
                    <!-- recipe title -->
                    <h3>{{ recipe.title }}</h3>
                    <!-- recipe cooking time -->
                    <h4>Cooking time: {{ recipe.cooking_time }} minutes</h4>
                    <!-- recipe instructions -->
                    <p>{{ recipe.instructions|truncatechars:35 }}</p>
                    <!-- recipe details button -->
                    <div class="details-buttons">
                        <a href="{% url "recipe-details" pk=recipe.id %}" class="details-btn">Details</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% else %}
        <!-- Display this message if there are no recipes -->
        <p class="no-articles">There are currently no recipes available.</p>
    {% endif %}

{% endblock %}
