{% extends "base.html" %}
{% load static %}

{% block main_content %}
<!-- details section -->
<section id="recipe-details">
    <h1>Recipe Details</h1>
    <div class="info-section">
        <div class="recipe-header">
            <!-- recipe image -->
            {% if object.image_url %}
                <img class="recipe-img" src="{{ object.image_url }}" alt="{{ object.title }}"/>
            {% else %}
                <img class="recipe-img" src="{% static 'images/default_recipe_img.png' %}" alt="Default Recipe Image">
            {% endif %}

            <!-- recipe title -->
            <h1>{{ object.title }}</h1>
            <!-- recipe cuisine type -->
            <p><span class="description-recipe">Cuisine Type: {{ object.cuisine_type }}</span></p>
            <!-- recipe cooking time -->
            <p><span class="description-recipe">Cooking Time: {{ object.cooking_time }} minutes</span></p>
            <!-- recipe ingredients -->
            <div class="ingredients">
                <p><span class="description-recipe">Ingredients:</span></p>
                <ul>
                    {% for ingredient in ingredients_list %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
            <p>
              <span class="description-recipe">Instructions: {{ object.instructions }}</span>
            </p>
        </div>

        <!-- Edit/Delete buttons -->
        <div class="buttons">
            <a href="{% url "recipe-edit" pk=object.pk %}" class="edit-button">Edit</a>
            <a href="{% url "recipe-delete" pk=object.pk %}" class="delete-button">Delete</a>
        </div>
    </div>
</section>
{% endblock %}
